# Comments
### Definition:
Comments are lines in your code that are ignored by the Python interpreter. They are meant for humans—either yourself in the future or other developers—to understand, explain, or temporarily disable code sections.

### Purpose of Comments:

- Explain the purpose and logic of code sections for future reference.

- Communicate intentions or warnings to collaborators.

- Temporarily disable code during testing or debugging.

### How to Write Comments:
- **Single-Line Comments:**
Start the line with a # symbol.

In [ ]:
# This is a single-line comment

- **Multi-Line Comments:**
Use triple single quotes (''') or triple double quotes (""").

In [1]:
'''
This is a multi-line comment
spanning multiple lines
'''

'\nThis is a multi-line comment\nspanning multiple lines\n'

In [2]:
"""
This is another way to write
multi-line comments
"""

'\nThis is another way to write\nmulti-line comments\n'

- **Shortcut for Commenting:**
Most modern IDEs (like Replit, VS Code) support Ctrl + / (or Command + / on Mac) to quickly comment or uncomment selected lines.

### Best Practices:

- Use comments to clarify complex logic, not to restate obvious code.

- Keep comments up-to-date as code changes.

# Escape Sequence Characters
### Definition:
Escape sequence characters allow you to insert special characters into strings that would otherwise be hard to type or could cause syntax errors.

### Common Escape Sequences:

In [4]:
import pandas as pd
df = pd.read_csv('EscapeSequence-Description-ExampleOutput.csv')
df

  Escape Sequence   Description           Example Output
0              \n      New line  Splits text to new line
1              \t     Tab space         Adds a tab space
2              \'  Single quote        Inserts'in string
3              \"  Double quote        Inserts"in string
4              \\     Backslash        Inserts\in string

### Usage Examples:

- New line in string:

In [6]:
print("Hello\nWorld")

Hello
World

- Including quotes inside strings:

In [7]:
print("She said, \"Hello!\"") 
print('It\'s Python!')

She said, "Hello!"
It's Python!

### Why Use Escape Sequences?

- To avoid syntax errors when including quotes inside strings.

- To format output (e.g., new lines, tabs) within strings.

# Print Statement
### Definition:
The print() statement displays output to the console. It is highly flexible and supports several parameters to control output formatting.
### Key Features:

- Can print multiple values separated by commas.

- Supports formatting with sep (separator) and end (ending character).

- Can redirect output to files using the file parameter.

**Parameters of print():**

In [8]:
import pandas as pd
df = pd.read_csv('Parameter-Description-DefaultValue.csv')
df

  Parameter                                        Description  Default Value
0       sep  Separator between multiple values in one print...     ' '(space)
1       end          What to print at the end of the statement  '\n'(newline)
2      file  Output stream (e.g., a file object instead of ...     sys.stdout

### Examples:

- Printing multiple values with custom separator:

In [9]:
print("Hello", "World", sep="~")

Hello~World

- Customizing end character:

In [10]:
print("Hello", end="!!!")         
print("Next line")

Hello!!!Next line

- Redirecting output to a file:

In [11]:
with open("output.txt", "w") as f:
    print("Saving this to a file", file=f)

### Notes:

- The default separator is a space; the default end character is a newline.

- Changing end to an empty string or another character lets you control how print statements are chained.

- The file parameter is advanced and typically used for writing output to files.

# Summary
- **Comments** help document your code and prevent execution of specific lines. Use # for single-line and triple quotes for multi-line comments.

- **Escape sequence characters** allow you to include special formatting and characters in strings, such as newlines and quotes.

- The **print statement** is versatile: it can print multiple values, format output using sep and end, and even write to files.

Mastering these basics is essential for writing readable, maintainable, and robust Python programs.