# 1. Print a Right-Angled Triangle Pattern

- ### Write a program that prints a right-angled triangle of stars (âˆ—) with n rows. For example, for n=4:

*
**
***
****

In [7]:
n = 4
for row in range(n):
    print("*" * (row+1))

*
**
***
****

# 2. Print a Number Pyramid Pattern

- ### Write a program that prints a pyramid of numbers with n rows. For example, for n=5:

    1
   121
  12321
 1234321
123454321

# 3. Print an Inverted Star Pattern

- ### Write a program to print an inverted triangle of stars for a given n:

****
***
**
*

# 4. Print a Hollow Square Pattern

- ### Write a program that prints a hollow square of size n:

*****
*   *
*   *
*   *
*****

# 5. Print a Multiplication Table

- ### Write a program that prints the multiplication table for numbers 1 to n, formatted as a grid.

1  2  3  4  5
2  4  6  8 10
3  6  9 12 15
4  8 12 16 20
5 10 15 20 25

In [14]:
n = 5
for row in range(1, n+1):
    for col in range(1, n+1):
        print(col*row," ", end='')
    print()

1  2  3  4  5
2  4  6  8  10
3  6  9  12  15
4  8  12  16  20
5  10  15  20  25

### ------------------------------------------------------------------------------------------------------------------------------------------------------

# 1. Right-Angled Triangle Pattern

In [1]:
n = 4
for i in range(1, n + 1):
    print('*' * i)

*
**
***
****

# 2. Number Pyramid Pattern

In [9]:
n = 4
for i in range(1, n + 1):
    # Print spaces
    print(' ' * (n - i), end='')
    # Print increasing numbers
    for j in range(1, i + 1):
        print(j, end='')
    # Print decreasing numbers
    for k in range(i - 1, 0, -1):
        print(k, end='')
    print()

   1
  121
 12321
1234321

# 3. Inverted Star Pattern

In [3]:
n = 4
for i in range(n, 0, -1):
    print('*' * i)

****
***
**
*

# 4. Hollow Square Pattern

In [6]:
n = 5
for i in range(n):
    if i == 0 or i == n - 1:
        print('*' * n)
    else:
        print('*' + ' ' * (n - 2) + '*')

*****
*   *
*   *
*   *
*****

# 5. Multiplication Table Grid

In [5]:
n = 5
for i in range(1, n + 1):
    for j in range(1, n + 1):
        print(f"{i * j:2}", end=' ')
    print()

 1  2  3  4  5
 2  4  6  8 10
 3  6  9 12 15
 4  8 12 16 20
 5 10 15 20 25

In [1]:
class Node:

    def __init__(self, value):
        self.data = value
        self.value = None

In [2]:
a = Node(1)

In [3]:
print(a)

<__main__.Node object at 0x70c5084eea80>