# What is a Set?
- **Definition:** A set is a collection of well-defined, unique objects. In Python, sets are unordered collections that do not allow duplicate elements.

- Example:

In [4]:
s1 = {1, 2, 5, 6}
s2 = {3, 6, 7}

- Sets in Python behave similarly to sets in mathematics.

# Key Set Operations and Methods
### 1. Union
- **Purpose:** Combines all unique elements from two sets.

- Syntax:

In [5]:
s1.union(s2)

{1, 2, 3, 5, 6, 7}

- **Explanation:** The union of s1 and s2 contains every element from both sets, without duplicates.

- Example:

In [6]:
s1 = {1, 2, 5, 6}
s2 = {3, 6, 7}
print(s1.union(s2))  # Output: {1, 2, 3, 5, 6, 7}

{1, 2, 3, 5, 6, 7}

- **Note:** The original sets (s1, s2) remain unchanged after this operation.

### 2. Update
- **Purpose:** Adds all elements from another set to the original set, updating it in place.

- Syntax:

In [7]:
s1.update(s2)

- **Explanation:** Only the elements not already present in s1 are added.

- Example:

In [8]:
s1 = {1, 2, 5, 6}
s2 = {3, 6, 7}
s1.update(s2)
print(s1)  # Output: {1, 2, 3, 5, 6, 7}

{1, 2, 3, 5, 6, 7}

- Difference from Union: update() modifies the original set, while union() returns a new set.

### 3. Intersection
- **Purpose:** Finds common elements between two sets.

- Syntax:

In [9]:
s1.intersection(s2)

{3, 6, 7}

- **Explanation:** Returns a new set with elements present in both sets.

- Example:

In [10]:
s1 = {1, 2, 3, 4}
s2 = {3, 4, 5, 6}
print(s1.intersection(s2))  # Output: {3, 4}

{3, 4}

- **Note:** Original sets remain unchanged.

### 4. Intersection Update
- **Purpose:** Updates the original set to keep only elements found in both sets.

- Syntax:

In [11]:
s1.intersection_update(s2)

- Example:

In [12]:
s1 = {1, 2, 3, 4}
s2 = {3, 4, 5, 6}
s1.intersection_update(s2)
print(s1)  # Output: {3, 4}

{3, 4}

- **Difference from Intersection:** Modifies the original set instead of returning a new one.

### 5. Symmetric Difference
- **Purpose:** Returns elements that are in either set, but not in both.

- Syntax:

In [13]:
s1.symmetric_difference(s2)

{5, 6}

- **Explanation:**

    - Formula: AΔB=(A∪B)−(A∩B)

    - Removes common elements, keeps only unique ones from both sets.

Example:

In [14]:
s1 = {"Tokyo", "Madrid", "Berlin", "Delhi"}
s2 = {"Tokyo", "Seoul", "Kabul", "Madrid"}
print(s1.symmetric_difference(s2))  
# Output: {'Berlin', 'Delhi', 'Seoul', 'Kabul'}

{'Berlin', 'Seoul', 'Kabul', 'Delhi'}

- **Note:** Order of elements does not matter in sets.

### 6. Difference
- **Purpose:** Returns elements present in the first set but not in the second.

- Syntax:

In [15]:
s1.difference(s2)

{'Berlin', 'Delhi'}

- **Explanation:**

    - Formula: A−B

    - Only elements unique to the first set are returned.

Example:

In [16]:
s1 = {"Tokyo", "Madrid", "Berlin", "Delhi"}
s2 = {"Tokyo", "Seoul", "Kabul", "Madrid"}
print(s1.difference(s2))  # Output: {'Berlin', 'Delhi'}

{'Berlin', 'Delhi'}

- **Difference Update:**

    - s1.difference_update(s2) modifies s1 to keep only elements not in s2.

# Practical Examples
### Cities Example:

In [17]:
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities2 = {"Tokyo", "Seoul", "Kabul", "Madrid"}
# Union
print(cities.union(cities2))  
# Intersection
print(cities.intersection(cities2))
# Symmetric Difference
print(cities.symmetric_difference(cities2))
# Difference
print(cities.difference(cities2))

{'Berlin', 'Tokyo', 'Seoul', 'Kabul', 'Madrid', 'Delhi'}
{'Madrid', 'Tokyo'}
{'Berlin', 'Seoul', 'Kabul', 'Delhi'}
{'Berlin', 'Delhi'}

- **Venn Diagram:** Used to visualize set operations like union, intersection, and symmetric difference.

# Important Points and Tips
- Sets do not allow duplicates.

- Order does not matter in sets.

- .union() and .update() are similar, but .update() changes the original set.

- .intersection() returns a new set, while .intersection_update() changes the original set.

- Try running these methods yourself to fully understand their behavior.

# Summary
- Sets in Python are collections of unique, unordered elements.

- Key set operations include union, intersection, difference, and symmetric difference.

- Each operation has a corresponding method that either returns a new set or updates the original set.

- Understanding these methods is essential for data manipulation and problem-solving in Python programming.

- Practice is crucial—experiment with these methods to reinforce your understanding.